nav {
    position: sticky;   
    top: 0;
}
#bgimage 
{
    font-family: Arial;
    color: aliceblue;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.indexstyle {
    background: #000000;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color:goldenrod;
    display: inline-block;
    list-style: none;   
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .6;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 1px;
    margin-bottom:1px;
}
a:hover 
{
    background-color:#4cff00;
    color:blue;
}
.maincontainer {
    text-align: center;
}
.container {
    text-align: center;
    display: inline-block;
    color: white;
    max-width: inherit;
    overflow: auto;
    margin: auto;
    margin-bottom: auto;
}
.gallery {
    float: inherit;
    margin: auto;
    border: 3px solid#CCC;
   
}
.gallery img {
    width: 100%;
    height: auto;
    }
.desc {
    padding: 15px;
    text-align: center;
}
body {
align-content:center;
}
footer {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h1 {
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
}

